body {
    margin: 30px
}

#draft-lottery h1 {
    margin-left: 30px
}

#draft-lottery #title-container {
    text-align: center;
    margin-bottom: 50px
}

    #draft-lottery #title-container #get-next-team {
        margin: 10px 30px
    }

#draft-lottery #hopper-container #canvas {
    border: 1px solid #000;
    margin: 0 auto;
    display: block;
}

#draft-lottery #teams-container {
    margin-top: 50px
}

    #draft-lottery #teams-container img {
        height: 60px;
        width: 60px
    }

    #draft-lottery #teams-container .circle {
        border-radius: 50%
    }

    #draft-lottery #teams-container .team {
        width: 100%;
        height: 60px;
        float: left;
        margin: 10px
    }

        #draft-lottery #teams-container .team h3, img {
            float: left
        }

        #draft-lottery #teams-container .team h3 {
            margin: 20px
        }

        #draft-lottery #teams-container .team .draft-slot {
            width: 30px
        }
